.hr_main {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 0px 6vw 0px 6vw;
  cursor: url('./../../../assets/images/cur_user.png') auto !important;
  display: none;

  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 600px) {
    padding: 0px 6vw 0px 6vw;
  }


  > .top {
    text-align: center;
    overflow: hidden;

    .cursor_a {
      content: "";
      position: absolute;
      width: 6.25rem;
      height: 3.375rem;
      background: url('./../../../assets/images/cur_a.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(500%, 660%); //translate(-50%, -50%);
      animation: moveCursor 6s infinite cubic-bezier(1, -0.33, 0, 0.95); //moveCursor 4s infinite linear;
      z-index: 979793;
    }

    @keyframes moveCursor {
      // 0% {
      //   transform: translate(-50%, -50%) translate(0, 0);
      // }
      // 100% {
      //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
      // }

      0% {
        transform: translate(510%, 390%) translate(0, 0);
      }
      // 10% {
      //   transform: translate(-500%, -660%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      // 20% {
      //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      // 30% {
      //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      40% {
        transform: translate(910%, 370%) translate(calc(random() * 100%), calc(random() * 100%));
      }
      // 50% {
      //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      // 60% {
      //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      // 70% {
      //   transform: translate(50%, 60%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      // 80% {
      //   transform: translate(-300%, -360%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
      90% {
        transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
      }
      // 100% {
      //   transform: translate(-10%, 60%) translate(0, 0);
      // }

      // 10% {
      //   transform: translate(400%, 620%) translate(calc(random() * 100%), calc(random() * 100%));
      // }
    }

    > a.sale_call {
      color: var(--color-secondary);
      font-size: 0.875rem;
      font-weight: 400;
      background-color: #edededb8;
      display: inline-flex;
      padding: 1.25rem 1.5rem;
      border-radius: 2.5rem;
      // border: 0.0625rem solid #131313;
      // box-shadow: rgba(143, 68, 218, 0.1) 0px 0px 0px 0px, rgba(143, 68, 218, 0.1) 0px 1px 2px 0px, rgba(143, 68, 218, 0.09) 0px 4px 4px 0px, rgba(143, 68, 218, 0.05) 0px 8px 5px 0px, rgba(143, 68, 218, 0.01) 0px 14px 6px 0px, transparent 0px 22px 6px 0px;

      &:hover {
        // color: red;
      }

      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 600px) {
        background: white;
        display: inline-flex;
        margin-bottom: 1.875rem;
        padding: 0.75rem 1rem;
        border-radius: unset;
        border: none;
        box-shadow: none;
        line-height: 1.4375rem;
      }

      small {
        text-decoration: underline;
        font-size: 14px;
      }
    }

    h2 {
      font-weight: 700;
      letter-spacing: -0.05rem;
      text-align: center;
      margin-bottom: 2.125rem;
      font-size: 8.125rem;
      letter-spacing: -0.433rem;

      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 600px) {
        font-size: 48px;
        line-height: 54px;
      }

      span {
        background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        position: relative;

        &:before {
          content: "";
          width: 6.25rem;
          height: 3.375rem;
          background: url('./../../../assets/images/cur_b.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          position: absolute;
          top: 90%;
          aspect-ratio: 0.9473684211;
          right: calc(100% - 40px);
          z-index: 3;
          transform: translate(0%, 0%);
          animation: moveCursor_b 14s infinite cubic-bezier(1, -0.33, 0, 0.95);

          @keyframes moveCursor_b {
            0% {
              transform: translate(120%, 40%) translate(0, 0);
            }

            50% {
              transform: translate(-0%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
            }

            100% {
              transform: translate(0%, 50%) translate(calc(random() * 100%), calc(random() * 100%));
            }
          }
        }

        &:after {
          content: "";
          width: 6.25rem;
          height: 3.375rem;
          background: url('./../../../assets/images/cur_c.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: -50px;
          aspect-ratio: 1.1590909091;
          left: calc(100% - 50px);
          background-size: contain;
          z-index: 3;
          transform: translate(-100%, 0%);
          animation: moveCursor_c 22s infinite cubic-bezier(1, -0.33, 0, 0.95);

          @keyframes moveCursor_c {
            0% {
              transform: translate(510%, 390%) translate(0, 0);
            }
            10% {
              transform: translate(-500%, -660%) translate(calc(random() * 100%), calc(random() * 100%));
            }
            // 20% {
            //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
            // }
            // 30% {
            //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
            // }
            40% {
              transform: translate(-910%, 370%) translate(calc(random() * 100%), calc(random() * 100%));
            }
            // 50% {
            //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
            // }
            // 60% {
            //   transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
            // }
            // 70% {
            //   transform: translate(50%, 60%) translate(calc(random() * 100%), calc(random() * 100%));
            // }
            80% {
              transform: translate(300%, -20%) translate(calc(random() * 100%), calc(random() * 100%));
            }
            90% {
              transform: translate(-50%, -50%) translate(calc(random() * 100%), calc(random() * 100%));
            }
            // 100% {
            //   transform: translate(-10%, 60%) translate(0, 0);
            // }

            10% {
              transform: translate(400%, 620%) translate(calc(random() * 100%), calc(random() * 100%));
            }
          }
        }
      }

    }

    .fcc_pl {
      margin-bottom: 40px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: center;
      font-size: 20px;
      width: 43%;
      font-weight: 300;
      line-height: 28px;
      margin: auto;
      color: #424242;

      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 600px) {
        width: unset;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 26px;
      margin-top: 44px;

      @media screen and (max-width: 992px) {
      }

      @media screen and (max-width: 600px) {

      }

      li {
        a {
          display: flex;
          height: 54px;
          align-items: center;
          padding: 0px 38px;
          border-radius: 40px;
          font-weight: 600;
        }

        .demo {
          background: #ffffff;
          color: var(--color-primary);
          border: 1px solid var(--color-primary);
          border-width: 0.5px;


        }

        .start {
          background: var(--color-primary);
          color: #ffffff;
        }
      }
    }
  }
}

.hr_hero_b {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.125rem;

  h1 {
    // font-size: 4.875rem;
    // line-height: 5rem;
    // letter-spacing: -0.03em;
    // text-align: center;
    // font-weight: 600;
    // width: 60vw;
  }

  p {
    font-size: 1.125rem;
    font-weight: 300;
    color: #747474;
    width: 46vw;
    text-align: center;
    line-height: 1.75rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 0.875rem;
  }
}

.cst_rl_con {
  padding: 0vw 0px 7vw 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    padding-bottom: 0rem;
    gap: 0px;
  }

  .top {
    p {
      color: #747474;
    }
  }

  ul {
    display: flex;
    gap: 5.4375rem;
    height: 5.25rem;
    align-items: center;

    li {
      height: 2.5rem;
      display: flex;
      align-items: center;
      width: 6.25rem;
    }
  }
}