
  <div class="auth_con">
    <div class="lft">
      <div class="top">
        <span>
          <img [src]="logo" alt="Kitz">
        </span>
      </div>
    </div>
    <div class="rgt">
      <nb-layout>
        <nb-layout-column>
          <router-outlet></router-outlet>
        </nb-layout-column>
      </nb-layout>
    </div>
  </div>

<!--
  Photo by <a href="https://unsplash.com/@rgaleriacom?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ricardo Gomez Angel</a> on <a href="https://unsplash.com/photos/5YM26lUicfU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  Photo by <a href="https://unsplash.com/@joelfilip?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Joel Filipe</a> on <a href="https://unsplash.com/photos/asL4k-U3I_s?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  Photo by <a href="https://unsplash.com/@rgaleriacom?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ricardo Gomez Angel</a> on <a href="https://unsplash.com/photos/yte5_7phEjw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
-->
