<app-landing-header [dark]="true"></app-landing-header>


<!-- Hero -->
<div class="blu_hero_con">
    <div class="glw"></div>
    <div class="hro">
        <div class="top">
            <div class="lft">
                <h3>App design strategy for <span class="price">$4000</span> in <span class="drt">two week</span></h3>
                <p>With the experience of helping launching our own startups and bringing countless projects to life, we know how to make ideas shine.</p>
                <ul>
                    <li>
                        <a href="#" class="btn_pri">
                            <span>Order a Blueprint</span> 
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <line x1="5" x2="19" y1="12" y2="12" />
                                <polyline points="12 5 19 12 12 19" />
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rgt"></div>
        </div>
        <div class="btm"></div>
    </div>
</div>


<!-- Built with Kitz -->
<div class="blu_build_con" [class.scrolled]="isScrolled">
    <div class="bdg_con" [class.scrolled]="isBdgScrolled">
        <div class="lb">Blueprintz</div>    
    </div>
    <div class="brace">
        <div class="hlo"></div>
    </div>
    <div class="sts"></div>
</div>

<!-- Base Footer -->
<div class="bsr_ftr_con">
    <div class="top">
        <div class="lft">
            <h3>Submit your idea</h3>
        </div>
        <div class="rgt">
            <p>Introduce yourself, your project/idea, and explain why it matters to you and everyone else.</p>
            <p class="estim">Estimated cost & time -> <span> $3500 / 1 week</span></p>
            <a href="#" class="btn_pri">
                <span>Submit your idea</span>
            </a>
        </div>
    </div>
    <div class="btm"></div>
</div>

<app-landing-footer [dark]="true"></app-landing-footer>