<!-- Base Footer -->
<div class="bsr_ftr_con">
    <div class="top">
        <div class="lft">
            <h3>Submit your idea</h3>
        </div>
        <div class="rgt">
            <p>Introduce yourself, your project/idea, and explain why it matters to you and everyone else.</p>
            <p class="estim">Estimated cost & time -> <span> $3500 / 1 week</span></p>
            <a href="#" class="btn_pri">
                <span>Submit your idea</span>
            </a>
        </div>
    </div>
    <div class="btm"></div>
</div>